<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <th:block th:each="car,status:${car}">  
	 	<div>
	 		[[${car.car_model}]]
     <button th:onclick="wishlist([[${user_id}]],[[${car.car_id}]])" th:id="wishlist+${car.car_id}" th:class="wishlist-btn">
    <span th:text="${(wishList.contains(car.car_id)) ? '찜완료' : '찜하기'}"></span>
</button>

	 	 <ul style="display: flex;margin-bottom:30px;">
      <!--  #strings 는 타임리트 유틸객체.메소드를 갖습니다. 문자열을 , 분리해서 배열로 변환
           pic는 배열요소를 1개씩 순서대로 저장. i는 foreach의 상태변수
      -->
         <th:block th:each="pic,i:${#strings.setSplit(car.car_image,',')}">
         <li style="width:200px;height: 200px;">
            <!-- /uploads/ url 경로는 ApplicationConfig 에서 설정합니다. -->
            <a th:href="@{/product/payment(user_id=${user_id}, car_id=${car.car_id},rent_id=${rent_id})}">
            <img th:src="@{/uploads/}+${pic}" width="100%" height="100%" style="object-fit:cover"><br>
            </a>
            <span>[[${pic}]]([[${i.index}]])</span>
         </li>
         </th:block>
      </ul>   
	 	</div>
	 </th:block>
	 
</body>
<script th:inline="javascript">
function wishlist(user_id, car_number) {
	  var button_id = "#wishlist" + car_number;
	  console.log(button_id);
	  var isWished = $(button_id).hasClass("btn-secondary");

	  $.ajax({
	    type: "POST",
	    url: "/product/wishlist",
	    contentType: 'application/json',
	    data: JSON.stringify({car_number: car_number, user_id: user_id}),
	    success: function (response) {
	      if (response === "success") {
	        // 찜 완료 메시지 출력
	        alert("찜 완료!");
	        // 버튼 스타일 변경
	        $(button_id).removeClass("btn-primary").addClass("btn-secondary");
	        // 버튼 텍스트 변경
	        $(button_id).text("찜 완료");
	      } else if (response === "fail") {
	        // 이미 찜한 경우, 삭제 여부 확인
	        if (confirm("이미 찜한 상품입니다. 삭제하시겠습니까?")) {
	          // 찜 삭제 ajax 요청
	          $.ajax({
	            type: "DELETE",
	            url: "/product/wishlist/delete",
	            contentType: 'application/json',
	            data: JSON.stringify({car_number: car_number, user_id: user_id}),
	            success: function (response) {
	              // 찜 삭제 완료 메시지 출력
	              alert("찜 삭제 완료!");
	              // 버튼 스타일 변경
	              $(button_id).removeClass("btn-secondary").addClass("btn-primary");
	              // 버튼 텍스트 변경
	              $(button_id).text("찜하기");
	            },
	            error: function (xhr, status, error) {
	              // 에러 메시지 출력
	              alert("찜 삭제 실패: " + error);
	            }
	          });
	        }
	      }
	    },
	    error: function (xhr, status, error) {
	      alert("찜 실패")
	    }
	  });
	}



</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>