<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내차 리뷰</title>
</head>
<body>
<main>
	<h3>리뷰보기</h3>
	
	<table>
		<tr>
			<th>리뷰써준사람</th>
			<th>내용</th>
			<th>점수</th>
		</tr>
		<tr th:each="list : ${list}">
			<td th:text="${list.author_id}"></td>
			<td th:text="${list.content}"></td>
			<td th:text="${list.car_score}"></td>
		</tr>
		<tr>
			<td> <input type="button" onclick="location.href='/'" value="메인으로"> </td>
		</tr>
	</table>
</main>
</body>
</html>