<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>

</head>
<body>
	<h3>로그인</h3>
	<div>
		<form action="/login" method="POST">
			<table>
				<tr>
					<td><input type="text" name="email" placeholder="아이디" id="id"></td>
				</tr>
				<tr>
					<td><input type="password" name="password" id="password" placeholder="비밀번호"></td>
				</tr>
				<tr>
					<td><input type="submit" value="로그인"></td>
				</tr>
			</table>
		</form>
		<br>
		<div>
			<p>SNS계정 로그인</p>
			<button>카톡</button>
			<button>네이버</button>
			<button>애플</button>
			<button>페이스북</button>
		</div>
		<br>
		<div>
			<input type="button" value="간편 회원가입" onclick="location.href='${pageContext.request.contextPath}/reg'">
			<br> 
			<a href="#">아이디 찾기</a> <a href="#">비밀번호 찾기</a>
		</div>
	</div>
   




</body>
</html>