* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  color: #000;
}

form {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.car-info {
  margin-bottom: 50px;
}

.car-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.car-item {
  margin-bottom: 20px;
}

.car-item label {
  display: inline-block;
  width: 150px;
  font-weight: bold;
  color: #555;
}

.car-item span {
  color: #000;
}

.price h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.form-item {
  margin-bottom: 20px;
}

.form-item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-item input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.submit-btn input[type="submit"] {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn input[type="submit"]:hover {
  background-color: #333;
}
#rent-time{
	    display: block;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}