@charset "UTF-8";
 .payment_area{
      	width:1000px;
      	margin:0 auto;
      }

      label {
            font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 25px;
      }

      input[type="text"],
      input[type="date"],
      input[type="time"],
      input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        height:60px;
      }

     #city {
     border: 1px solid; 
    border: 1px solid;
    height: 60px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ccc;
      }
      
      #city>option{
      	background-color:#fff;
		        color:black;
      }

  .payment_Information{
  	    text-align: center;
    background-color: black;
    font-size: 32px;
    margin-bottom: 40px;
    color: #fff;
    height: 200px;
    width: 1000px;
    margin: 40px auto;
    padding-top: 3%;
  }
   .payment-method {
    text-align: center;
  }

  #payment-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
  }

  #payment-button:hover {
    background-color: #575f64;
  }