<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="../css/footer.css" rel="stylesheet">
</head>
<body>
<footer>
      <div class="footer-content">
        <div class="footer-section">
          <h3>고객지원 센터 방문</h3>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">문의하기</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>기업 정보</h3>
          <ul>
            <li><a href="#">회사 소개</a></li>
            <li><a href="#">투자자</a></li>
            <li><a href="#">채용 정보</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>Buddy 서비스</h3>
          <ul>
            <li><a href="#">차량 서비스</a></li>
            <li><a href="#">운행</a></li>
            <li><a href="#">배달 (Buddy Eats)</a></li>
            <li><a href="#">Buddy for Business</a></li>
            <li><a href="#">Buddy Freight</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h3>세계 시민 의식</h3>
          <ul>
            <li><a href="#">안전</a></li>
            <li><a href="#">다양성과 포용성</a></li>
            <li><a href="#">지속 가능성</a></li>
            <li><a href="#">출장 (공항/도시)</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </body>
</html>