<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	JJH
	<h3>메인화면</h3>
	<a href="kakaomsapTest">카카오맵 테스트</a> <hr>
	<a href="/product/productAll">상품 전체보기</a> <hr>
	<a href="/product/payment">결제 테스트</a> <hr>
	<a href="#">반납전 알림 테스트</a> <hr>
	
	<a href="/member/remove?email=dmdka1">탈퇴 테스트</a> <hr>
	<a href="/member/modify?email=dmdka1">수정 테스트</a> <hr>
	<a href="/member/point?email=dmdka1">포인트 조회</a> <hr>
	<a href="/rooms/register">방 만들기</a> <hr>
	<a href="/rooms/rooms">방 목록</a> <hr>
	<a href="/member/login?email=admin">관리자 로그인</a> <hr>
	
</body>
</html>