<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	JJH
	<h3>메인화면</h3>
	<a href="kakaomsapTest">카카오맵 테스트</a> <hr>
	<a href="/product/productAll">상품 전체보기</a> <hr>
	<a href="/product/payment">결제 테스트</a> <hr>
	<a href="#">반납전 알림 테스트</a> <hr>
	<!--상훈이형-->
	<a href="/member/remove?email=dmdka1">탈퇴 테스트</a> <hr>
	<a href="/member/modify?email=dmdka1">수정 테스트</a> <hr>
	<a href="/member/point?email=dmdka1">포인트 조회</a> <hr>
	<a href="/rooms/register">방 만들기</a> <hr>
	<a href="/rooms/rooms">방 목록</a> <hr>
	<a href="/member/login?email=admin">관리자 로그인</a> <hr>
	<!--상훈이형-->
<!-- 모달창 로그인 -->
	<div id="modal1" class="modal">
  		<h3 class="modal_h3">LOGIN</h3>
	<div>
		<form action="/login" method="POST">
			<table class="modal_table">
				<tr>
					<td><input class="input_ph" type="text" name="email" placeholder="아이디" id="id"></td>
				</tr> 
				<tr>
					<td><input class="input_ph" type="password" name="password" id="password" placeholder="비밀번호"> <br>
						<span class="loginOK"></span>
					</td>
				</tr>
				<tr>
					<td><input class="modal_submit" type="submit" value="로그인"></td>
				</tr>
			</table>
		</form>
		<br>

		<div class="modal_div">
			<button class="modal_button modal_button_left" onclick="location.href='./reg'">간편 회원가입</button>
			<button class="modal_button" onclick="location.href='./find_id'">아이디 찾기</button>
			<button class="modal_button" onclick="location.href='./find_pass'">비밀번호 찾기</button>
		</div>
		<br>
	</div>
	</div>

	<h3>메인화면</h3>

	<!-- 이동해 -->
	<span th:if="${session.vo}!=null">[[${session.vo.email}]]님 <br>
		<a href="carReg">내차등록</a> <br>
		<a href="carSel">내차조회</a> <br>
		<a href="review/write">후기작성</a> <br>
		<a href="logout">로그아웃</a> <br>
	</span>
	<span th:unless="${session.vo}!=null">
		<a href="reg">회원가입</a><br>
	</span>
	
	
	<br>
	<br>
	<a href="kakaomapTest">카카오맵 테스트</a> <hr>
	<a href="/product/productAll">상품 전체보기</a> <hr>
	<a href="/product/payment">결제 테스트</a> <hr>
	<a href="#">반납전 알림 테스트</a> <hr>
</body>





</html>