<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swing Mobility | Team</title>
    <link rel="stylesheet" href="../css/people.css" />
  </head>
  <div th:include="header.html"></div>
  <main>
  <div class="team">
  <div class="team-card">
    <div class="card-img">
      <img src="https://via.placeholder.com/150" alt="Team Member Image">
    </div>
    <div class="card-body">
      <h5 class="card-title">Jiho Jeong</h5>
      <p class="card-text">CEO & Co-founder</p>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel augue sit amet libero dapibus placerat nec eu dolor.</p>
      <div class="card-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="team-card">
    <div class="card-img">
      <img src="https://via.placeholder.com/150" alt="Team Member Image">
    </div>
    <div class="card-body">
      <h5 class="card-title">Sanghun Kim</h5>
      <p class="card-text">COO & Co-founder</p>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel augue sit amet libero dapibus placerat nec eu dolor.</p>
      <div class="card-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
    <div class="team-card">
    <div class="card-img">
      <img src="https://via.placeholder.com/150" alt="Team Member Image">
    </div>
    <div class="card-body">
      <h5 class="card-title">DongHae Lee</h5>
      <p class="card-text">CEO & Co-founder</p>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel augue sit amet libero dapibus placerat nec eu dolor.</p>
      <div class="card-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
    <div class="team-card">
    <div class="card-img">
      <img src="https://via.placeholder.com/150" alt="Team Member Image">
    </div>
    <div class="card-body">
      <h5 class="card-title">KyungHyun Jo</h5>
      <p class="card-text">CEO & Co-founder</p>
      <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel augue sit amet libero dapibus placerat nec eu dolor.</p>
      <div class="card-social">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
</main>
<div style="height:400px;"></div>
<div th:include="footer.html"></div>
  </body>
  
</html>
