<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/MapTestKyung">
    Map으로 보내주기......
</a>

<script>

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/MapTestKyung', true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
            // 서버에서 받아온 데이터를 처리하는 코드 작성

        }
    };
    xhr.send();


</script>

</body>
</html>