<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<title>맵맵맵맵맵테스트트트트트</title>

</head>

<style>

.overlaybox {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: gray;
	padding: 15px 10px;
}

.overlaybox div, ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.overlaybox li {
	list-style: none;
}

.overlaybox .boxtitle {
	color: #fff;
	font-size: 16px;
	font-weight: bold;

	margin-bottom: 8px;
}

.overlaybox .first {
	position: relative;
	width:100%;
	height: 66px;
	margin-bottom: 8px;
}

.first .text {
	color: #fff;
	font-weight: bold;
}

.first .movietitle {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	padding: 7px 15px;
	font-size: 14px;
}

.overlaybox ul {
	width: 100%;
}

.overlaybox li {
	position: relative;
	background: #2b2d36;
	padding: 5px 10px;
	color: #aaabaf;
	line-height: 1;
}

.overlaybox li span {
	display: inline-block;
}

.overlaybox li .number {
	font-size: 16px;
	font-weight: bold;
}

.overlaybox li .title {
	font-size: 13px;
	color: crimson;
}
</style>
<link href="../css/serviceheader.css" rel="stylesheet"/>
<body>
<div id="stick_div">
	<header>

		<div class="header_icon_area">
			<ul class="header_icon">
				<li class="header_icon">
					<a><i class="fa-brands fa-facebook fa-xl"></i></a>
				</li>
				<li class="header_icon">
					<a><i class="fa-brands fa-instagram fa-xl"></i></a>
				</li>
				<li class="header_icon">
					<a><i class="fa-brands fa-twitter fa-xl"></i></a>
				</li>
				<li class="header_icon">
					<a><i class="fa-brands fa-discord fa-xl"></i></a>
				</li>
			</ul>
		</div>
		<h1>Buddy</h1>
		<ul class="header_nav">
			<li class="header_nav_item"><a href="#">JOIN</a></li>
			<li class="header_nav_item"><a href="#">SIGNIN</a></li>
			<li class="header_nav_item"><a href="#">CHAT</a></li>
			<li class="header_nav_item"><a href="#">MYPAGE</a></li>
		</ul>
	</header>
</div>
<div class="nav_area" style="margin-top:200px;">
	<ul class="nav_text">
		<li class="nav_detail_text"><a href="#">ABOUT</a></li>
		<li class="nav_detail_text"><a href="#">SERVICE</a></li>
		<li class="nav_detail_text"><a href="#">NOTICE</a></li>
	</ul>
</div>

<script>
	const headerNav = document.querySelector(".header_nav"); // ul 요소 가져오기
	const headerNavItems = headerNav.querySelectorAll("li>a"); // li 요소 가져오기
	console.log( headerNavItems[2])
	window.addEventListener("scroll", function() {
		if (window.scrollY > 80) {
			headerNavItems[0].style.display = "none";
			headerNavItems[1].style.display = "none";
			headerNavItems[2].style.display = "none";
			headerNavItems[3].style.display = "none";

		} else if(window.scrollY < 80) {
			headerNavItems[0].style.display = "block";
			headerNavItems[1].style.display = "block";
			headerNavItems[2].style.display = "block";
			headerNavItems[3].style.display = "block";

		}
	});
</script>
</header>

<input type="text" id="keyword" placeholder="장소를 입력하세요">
<button onclick="searchPlaces()">검색하기</button>


<!--만약 차를 빌렸다면 이 버튼이 나오게 하기 -->
	<div id="map" style="width: 100%; height: 500px;"></div>
	<p id="result">반납하기(결제)</p>
	<div id="clickLatlng"></div>
<p>
	<button onclick="hideMarkers()">판매하기(마커 다 사라짐)</button>
	<button onclick="showMarkers()">구매하기(마커 다 보임)</button>
	<button id="ajaxformarker" onclick="markerfordb()">판매확정하기</button>
</p>

<!---->
<div style="height:1000px;"></div>
<!--만약 공급자의 입장이라면 이 버튼이 나오게 하기 -->
<!---->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d11d96d8bf1e2f7032da54bfc050846"></script>
	<script th:inline="javascript">

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.50000717025944, 127.03515956607703), // 지도의 중심좌표 역삼역으로 했슴다
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);
    var imageSrc = "/image/pngegg.png";
    var imageSize = new kakao.maps.Size(30, 30);
    var imageOption = {offset: new kakao.maps.Point(27, 69)};

    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption); //마커 이미지 생성
    var markerListString = [[${markers}]];      //배열을 담고있는 makers입니다!

    var overlay = new kakao.maps.CustomOverlay({
        content: '',
        map: null,
        position: new kakao.maps.LatLng(0, 0) // 초기 위치는 지도 밖으로 설정
    });
    //CustomOverlay 클래스를 이용해서 오버레이를 생성
    // content는 오버레이에 표시될 내용, map은 오버레이가 추가될 지도
    // position은 오버레이의 초기 위치입니다. 초기 위치는 지도 영역 밖으로 설정


	var markers = [];
    for (var i = 0; i < markerListString.length; i++) {
        var markerData = markerListString[i];
			console.log(markerListString)
        var marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(parseFloat(markerData.latitude), parseFloat(markerData.longitude)),
            image: markerImage
        });
		// 지도에 표시된 마커 객체를 가지고 있을 배열입니다

		// 생성된 마커를 배열에 추가합니다
		markers.push(marker);
        //db에서 가져온 정보를 통해 지도에 마커를 생성합니다.
        marker.setMap(map);


        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

            // 클릭한 위도, 경도 정보를 가져옵니다
            var latlng = mouseEvent.latLng;

            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);

            var resultDiv = document.getElementById('clickLatlng');

        });



        //각 마커에 클릭 이벤트를 등록 클릭 이벤트가 발생되면 오버레이를 클릭한 마커 위치로 이동, 오버레이 내용을 해당 마커 데이터로 갱신
        kakao.maps.event.addListener(marker, 'click', (function(markerData) {
            return function() {
                var carImage = '<img src="/image/' + markerData.car_image + '" style="width:100%;">';
                // 클릭된 마커 위치로 오버레이 이동 약 30픽셀정도 이동시킴
                overlay.setPosition(new kakao.maps.LatLng(parseFloat(markerData.latitude) + 0.0005, parseFloat(markerData.longitude)));
                // 오버레이 내용 갱신(추후 차 정보로 바꿔 줄 예정입니다)
                overlay.setContent('<div class="overlaybox">' +
                    '    <div class="boxtitle">차 대여 정보입니다</div>' +
                    '    <div class="image-wrapper">' +
                    '        <div class="image">' +
                    '            ' + carImage +
                    '    <div class="first">' +
                    '        <a class="triangle text" href="./" style="color: crimson; position: absolute; background-color: #2b2d36; border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none">대여하기</a>' +
						'        <a class="triangle text" href="./" style="color: crimson;position: absolute; right:0; background-color: #2b2d36;  border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none' +
						'" >' +
						'1:1채팅으로</a>' +
                    '        <div class="movietitle text">'+markerData.car_model+'</div>' +
                    '    </div>' +
                    '    <ul>' +
                    '        <li class="up">' +
                    '            <span class="number">차 엔진 타입 </span>' +
                    '            <span class="title">'+markerData.engine_type+'</span>' +
                    '        </li>' +
                    '        <li>' +
                    '            <span class="number">차의 대여 가격</span>' +
                    '            <span class="title">'+markerData.rent_price+'</span>' +
                    '        </li>' +
                    '        <li>' +
                    '            <span class="number">차의 년식</span>' +
                    '            <span class="title">'+markerData.c_year+'</span>' +
                    '        </li>' +
                    '        <li>' +
                    '            <span class="number">등록날짜</span>' +
                    '            <span class="title">'+markerData.registered_at+'</span>' +
                    '        </li>' +
                    '        <li>' +
                    '            <span class="number">최대 대여가능시간</span>' +
                    '            <span class="title">'+markerData.rent_time+'</span>' +
                    '        </li>' +
                    '    </ul>' +
                    '</div>');

                overlay.setMap(map);
            }

        })(markerData));

        function createOverlay(markerData) {
            var content = '<div class="overlaybox">' +
					'    <div class="boxtitle">차 대여 정보입니다</div>' +
					'    <div class="image-wrapper">' +
					'        <div class="image">' +
					'            ' + carImage +
					'    <div class="first">' +
					'        <a class="triangle text" href="./" style="color: crimson; position: absolute; background-color: #2b2d36; border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none">대여하기</a>' +
					'        <a class="triangle text" href="./" style="color: crimson;position: absolute; right:0; background-color: #2b2d36;  border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none' +
					'" >' +
					'1:1채팅으로</a>' +
					'        <div class="movietitle text">'+markerData.car_model+'</div>' +
					'    </div>' +
					'    <ul>' +
					'        <li class="up">' +
					'            <span class="number">차 엔진 타입 </span>' +
					'            <span class="title">'+markerData.engine_type+'</span>' +
					'        </li>' +
					'        <li>' +
					'            <span class="number">차의 대여 가격</span>' +
					'            <span class="title">'+markerData.rent_price+'</span>' +
					'        </li>' +
					'        <li>' +
					'            <span class="number">차의 년식</span>' +
					'            <span class="title">'+markerData.c_year+'</span>' +
					'        </li>' +
					'        <li>' +
					'            <span class="number">등록날짜</span>' +
					'            <span class="title">'+markerData.registered_at+'</span>' +
					'        </li>' +
					'        <li>' +
					'            <span class="number">최대 대여가능시간</span>' +
					'            <span class="title">'+markerData.rent_time+'</span>' +
					'        </li>' +
					'    </ul>' +
					'</div>';
            var overlay = new kakao.maps.CustomOverlay({
                content: content,
                map: null,
                position: marker.getPosition()
            });
            return overlay;
            function closeOverlay() {
                overlay.setMap(null);
            }
        }

    }
    // 원
    for (var i = 0; i < markerListString.length; i++) {
		var cicleData = markerListString[i];
		var circle = new kakao.maps.Circle({
			center: new kakao.maps.LatLng(parseFloat(cicleData.clatitude), parseFloat(cicleData.clongitude)),
			radius: 150,
			strokeWeight: 5,
			strokeColor: '#75B8FA',
			strokeOpacity: 1,
			strokeStyle: 'dashed',
			fillColor: '#CFE7FF',
			fillOpacity: 0.7
		});

		// 클로저를 이용하여 각 원에 대한 클릭 이벤트 추가
		(function (circle) {
			// 원에 마우스오버 이벤트가 발생했을 때 변경할 채우기 옵션입니다
			var mouseoverOption = {
				fillColor: '#EFFFED',
				fillOpacity: 0.8
			};
			// 원에 마우스아웃 이벤트가 발생했을 때 변경할 채우기 옵션입니다
			var mouseoutOption = {
				fillColor: '#A2FF99',
				fillOpacity: 0.7
			};

			// 원의 마우스오버 이벤트를 등록합니다
			kakao.maps.event.addListener(circle, 'mouseover', function () {
				// 원의 채우기 옵션을 변경합니다
				this.setOptions(mouseoverOption);
			});

			kakao.maps.event.addListener(circle, 'mouseout', function () {
				// 원의 채우기 옵션을 변경합니다
				this.setOptions(mouseoutOption);
			});

			// 원에 클릭 이벤트를 등록합니다
			kakao.maps.event.addListener(circle, 'click', function () {
				let resultDiv = document.getElementById('result');
				resultDiv.innerHTML = '<div>' + '반납할때 나오는 정보들 (반납시간, 가격 등 )' + '</div>';
			});
		})(circle);

		circle.setMap(map);


//마커를 찍었을 떄 클릭 이벤트 발생시키는 함수입니다
		let clickmouse1;
		let clickmouse2;
		kakao.maps.event.addListener(map, 'click', function (mouseEvent) {
			let resultajax = document.getElementById(ajaxformarker);

			// 클릭한 위도, 경도 정보를 가져옵니다
			var latlng = mouseEvent.latLng;

			clickmouse1 = latlng.La;
			clickmouse2 = latlng.Ma;
			console.log(clickmouse1)
		});

		function markerfordb() {

			const jobj = {"longitude": clickmouse1, "latitude": clickmouse2}
			const jstl = JSON.stringify(jobj)
			console.log(jstl);
			const xhr = new XMLHttpRequest()
			xhr.open('POST', '/Map/Insert')
			xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
			xhr.send(jstl)
			xhr.onload = function () {
				console.log(xhr.response)
				if (xhr.status === 200 || xhr.status === 201) {
					console.log(xhr.response)
				} else {
					console.error("오류", xhr.status);
				}
			}

		}

		//인포 닫는 코드
		kakao.maps.event.addListener(map, 'click', function () {
			overlay.setMap(null);
		});
		// 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다

// 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
		function setMarkers(map) {
			for (var i = 0; i < markers.length; i++) {
				markers[i].setMap(map);
			}
		}

// "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
		function showMarkers() {
			setMarkers(map)
		}

// "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
		function hideMarkers() {
			setMarkers(null);
		}

		// 장소 검색 객체를 생성합니다
		var ps = new kakao.maps.services.Places();

		function searchPlaces() {
			var keyword = document.getElementById('keyword').value;

			// 장소검색을 요청하는 함수입니다
			ps.keywordSearch(keyword, placesSearchCB);
		}

		// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
		function placesSearchCB(data, status, pagination) {
			if (status === kakao.maps.services.Status.OK) {

				// 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
				// LatLngBounds 객체에 좌표를 추가합니다
				var bounds = new kakao.maps.LatLngBounds();

				for (var i = 0; i < data.length; i++) {
					displayMarker(data[i]);
					bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
				}

				// 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
				map.setBounds(bounds);
			}
		}


	}
    
    
</script>

</body>
</html>