<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>맵맵맵맵맵테스트트트트트</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<style>
.overlaybox {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: gray;
	padding: 15px 10px;
}

.overlaybox div, ul {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.overlaybox li {
	list-style: none;
}

.overlaybox .boxtitle {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
}

.overlaybox .first {
	position: relative;
	width: 100%;
	height: 66px;
	margin-bottom: 8px;
}

.first .text {
	color: #fff;
	font-weight: bold;
}

.first .movietitle {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.4);
	padding: 7px 15px;
	font-size: 14px;
}

.overlaybox ul {
	width: 100%;
}

.overlaybox li {
	position: relative;
	background: #2b2d36;
	padding: 5px 10px;
	color: #aaabaf;
	line-height: 1;
}

.overlaybox li span {
	display: inline-block;
}

.overlaybox li .number {
	font-size: 16px;
	font-weight: bold;
}

.overlaybox li .title {
	font-size: 13px;
	color: crimson;
}

.wishlist-btn {
	width: 128px;
	height: 32px;
	position: absolute;
	top: 58%;
	right: 0px;
	transform: translate(-8%, -50%);
	background-color: #000;
	color: white;
	border: none;
	font-size: 16px;
	border-radius: 5px 0px 0px 5px;
	font-weight: bold;
}

.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:2;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;border-radius: 4px;
	background-color: white;
	border-bottom: 1px solid silver;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
}
.custom_zoomcontrol span img {padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}
</style>


<body>
	[[${rentB}]]
	<div th:include="header.html"></div>
	<!--검색div-->
	<div style="margin-bottom: 20px">
		<p style="margin-left: 600px; margin-bottom: 10px">찾고싶은 장소를 입력하시면
			해당 위치로 이동합니다 장소를 입력 해 주세요 !</p><br>

		<input id="searchBox" type="text" placeholder="장소 검색"
			style="width: 708px; height: 30px; margin-left: 600px; margin-bottom: 50px; padding-left: 5px">
		<button id="searchButton" onclick="searchPlace()">검색</button>
		<button id="myarea">현재위치</button>
		<div style="margin-left: 10px">
			지도에 보고싶은 정보를 클릭하시면 해당 정보가 지도에 나타납니다<br><br>
			<input type="checkbox" id="chkUseDistrict" onclick="setOverlayMapTypeId()" />지적편집도 정보 보기
			<input type="checkbox" id="chkTerrain" onclick="setOverlayMapTypeId()" />지형정보 보기
			<input type="checkbox" id="chkTraffic" onclick="setOverlayMapTypeId()" />교통정보 보기
			<input type="checkbox" id="chkBicycle" onclick="setOverlayMapTypeId()" />자전거도로 정보 보기
		</p>
	</div>


	<!--지도 div입니다 -->
	<div id="map" style="width: 80%; height: 450px; margin-left: 200px">

		<div style="margin-top:10px; margin-left: 90%; margin-bottom: 20px; position: absolute; z-index: 2">
			<button id="roadview">로드 맵</button>
			<button id="skyview">스카이뷰(위성)</button>
		</div>


		<!-- 지도 확대, 축소 컨트롤 div 입니다 -->
		<div class="custom_zoomcontrol radius_border">
			<span style="margin-bottom: 2px;" onclick="zoomIn()"><img style="width: 60%; height: 100%; object-fit : cover;" src="/image/png-clipart-addition-plus-and-minus-signs-signboard-miscellaneous-cross.png"></span>
			<span onclick="zoomOut()"><img style="width: 86%; height: 100%; object-fit :cover;" src="/image/png-clipart-dash-hyphen-at-sign-plus-and-minus-signs-minus-angle-text-thumbnail.png"></span>
		</div>

	</div>



	<button id="returncar" onclick="showMarkers()">반납하기버튼이에요</button>

	<div id="clickLatlng"></div>


	<!--허수의 영역-->
	<div style="height: 1000px;"></div>
	<div th:include="footer.html"></div>
	<!-- services 라이브러리 불러오기 -->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2d11d96d8bf1e2f7032da54bfc050846&libraries=services,clusterer"></script>
	<script th:inline="javascript">


//지도 생성
	var mapContainer = document.getElementById('map');
	var mapOption = {
		center: new kakao.maps.LatLng(37.50000717025944, 127.03515956607703), // 지도의 중심좌표 역삼역으로 했슴다
		level: 12 // 지도의 확대 레벨
	};
	var map = new kakao.maps.Map(mapContainer, mapOption); // 지도 생성

	//오버레이 초기값 생성
	var overlay = new kakao.maps.CustomOverlay({
		content: "",
		map: null,
		position: new kakao.maps.LatLng(0, 0), // 초기 위치는 지도 밖으로 설정
	});
//마커 클러스터러입니다
var clusterer = new kakao.maps.MarkerClusterer({
	map: map,
	averageCenter: true,
	minLevel: 9
});

	//반납여부에 따라 반납버튼을 block or none 처리
	
	
	var imageSrc = "/image/pngegg.png";
	var imageSize = new kakao.maps.Size(30, 30);
	var imageOption = { offset: new kakao.maps.Point(27, 69) };
	var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);

	var markerListString = [[${markers}]];
	var markers = []; // 지도에 표시된 마커 객체를 가지고 있을 배열입니다.
	for (var i = 0; i < markerListString.length; i++) {
		var markerData = markerListString[i];
		var marker = new kakao.maps.Marker({
			position: new kakao.maps.LatLng(
					parseFloat(markerData.latitude),
					parseFloat(markerData.longitude)
			),
			image: markerImage,
			clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
		});
		let rnet_region_id=markerData.return_region_id
		let regist_number=markerData.rid;
		let car_number=markerData.car_number_join;
		let return_region_id=markerData.return_region_id;
		let car_id=markerData.car_id;
		console.log(regist_number)
		// 생성된 마커를 배열에 추가합니다
		markers.push(marker);

		// db에서 가져온 정보를 통해 지도에 마커를 생성합니다.
		marker.setMap(map);
		clusterer.addMarkers(markers);

// "마커 보이기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에 표시하는 함수입니다
		function showMarkers() {
			//넘길 변수 선언
			
			if(confirm('반납을 완료하면 결제창으로 이동합니다. 결제창으로 이동하시겠습니까?')){
				location.href="/Map/payment?return_region_id="+return_region_id+"&regist_number="+regist_number+"&car_number="+car_id+"&car_number_join="+car_number
						+"&rent_price="+markerData.rent_price+"&car_model="+markerData.car_model+"&id="+markerData.id;
			}
		}
// "마커 감추기" 버튼을 클릭하면 호출되어 배열에 추가된 마커를 지도에서 삭제하는 함수입니다
		function hideMarkers() {
			let rent=confirm('해당 차량을 대여하시겠습니까?')
			if(rent){
				 $.ajax({
					    type: "POST",
					    url: "/Map/rentInsert",
					    contentType: 'application/json',
					    data: JSON.stringify({return_region_id: return_region_id,regist_number: regist_number,user_id: user_id,car_number:car_number,car_id:car_id}),
					    success: function (response) {
					      if (response === "success") {
					    	  alert('이용해주셔서 감사합니다 반납하기 버튼을 누르시거나 허브존을 클릭하면 반납이 완료됩니다.')
					    	  document.getElementById('returncar').style.display ='block';
					    	  for (var i = 0; i < markers.length; i++) {
				clusterer.removeMarker(markers[i]); // 클러스터러에서 해당 마커를 제거합니다
			}
			if (overlay) {
				overlay.setMap(null); // 오버레이가 존재하면 지도에서 제거합니다
			}
					    	
					      }else{
					    	alert('대여를 실패했습니다. 다시 시도해주세요');  
					      	}
					      },
				 error: function (xhr, status, error) {
		              // 에러 메시지 출력
		              alert("에러: " + error);
		            }
				 });
				 
			
			
			}


			
		}

		// 지도 타입 정보를 가지고 있을 객체입니다
			// map.addOverlayMapTypeId 함수로 추가된 지도 타입은
			// 가장 나중에 추가된 지도 타입이 가장 앞에 표시됩니다
			// 이 예제에서는 지도 타입을 추가할 때 지적편집도, 지형정보, 교통정보, 자전거도로 정보 순으로 추가하므로
			// 자전거 도로 정보가 가장 앞에 표시됩니다
			var mapTypes = {
				terrain: kakao.maps.MapTypeId.TERRAIN,
				traffic: kakao.maps.MapTypeId.TRAFFIC,
				bicycle: kakao.maps.MapTypeId.BICYCLE,
				useDistrict: kakao.maps.MapTypeId.USE_DISTRICT
			};

			// 체크 박스를 선택하면 호출되는 함수입니다
			function setOverlayMapTypeId() {
				var chkTerrain = document.getElementById('chkTerrain'),
						chkTraffic = document.getElementById('chkTraffic'),
						chkBicycle = document.getElementById('chkBicycle'),
						chkUseDistrict = document.getElementById('chkUseDistrict');

				// 지도 타입을 제거합니다
				for (var type in mapTypes) {
					map.removeOverlayMapTypeId(mapTypes[type]);
				}

				// 지적편집도정보 체크박스가 체크되어있으면 지도에 지적편집도정보 지도타입을 추가합니다
				if (chkUseDistrict.checked) {
					map.addOverlayMapTypeId(mapTypes.useDistrict);
				}

				// 지형정보 체크박스가 체크되어있으면 지도에 지형정보 지도타입을 추가합니다
				if (chkTerrain.checked) {
					map.addOverlayMapTypeId(mapTypes.terrain);
				}

				// 교통정보 체크박스가 체크되어있으면 지도에 교통정보 지도타입을 추가합니다
				if (chkTraffic.checked) {
					map.addOverlayMapTypeId(mapTypes.traffic);
				}

				// 자전거도로정보 체크박스가 체크되어있으면 지도에 자전거도로정보 지도타입을 추가합니다
				if (chkBicycle.checked) {
					map.addOverlayMapTypeId(mapTypes.bicycle);
				}

			}

			/*****************지호*******************/
			let wishList = [[${wishList}]];
			let wish = '';
			if (wishList.includes(markerData.car_id)) {
				wish = '찜완료'
			} else {
				wish = '찜하기';
			}
			let	user_id=[[${user_id}]]; 

			//각 마커에 클릭 이벤트를 등록 클릭 이벤트가 발생되면 오버레이를 클릭한 마커 위치로 이동, 오버레이 내용을 해당 마커 데이터로 갱신
			kakao.maps.event.addListener(marker, 'click', (function (markerData) {
				return function () {

					var carImage = '<img src="/image/' + markerData.car_image + '" style="width:100%;">';
					// 클릭된 마커 위치로 오버레이 이동 약 30픽셀정도 이동시킴
					overlay.setPosition(new kakao.maps.LatLng(parseFloat(markerData.latitude) + 0.0005, parseFloat(markerData.longitude)));
					// 오버레이 내용 갱신(추후 차 정보로 바꿔 줄 예정입니다)
					overlay.setContent('<div class="overlaybox" id="overlaybox" >' +
							'    <div class="boxtitle">차 대여 정보입니다</div>' +
							'    <div class="image-wrapper">' +
							'        <div class="image">' +
							'            ' + carImage +
							'    <div class="first">' +
							'        <p id ="realchange" class="triangle text" onclick="hideMarkers()" style="color: crimson; position: absolute; background-color: #2b2d36; border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none">대여하기</p>' +
							'        <a class="triangle text" href="/rooms/register?registrNum=2" style="color: crimson;position: absolute; right:0; background-color: #2b2d36;  border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none' +
							'" >' +
							'1:1채팅으로</a>' +
							'        <div class="movietitle text">' + markerData.car_model + '</div>' +
							'    </div>' +
							'    <ul>' +
							'        <li class="up">' +
							'            <span class="number">차 엔진 타입 </span>' +
							'            <span class="title">' + markerData.engine_type + '</span>' +
							'        </li>' +
							'        <li>' +
							'            <span class="number">차의 대여 가격</span>' +
							'            <span class="title">' + markerData.rent_price + '</span>' +
							'        </li>' +
							'        <li>' +
							'            <span class="number">차의 년식</span>' +
							'            <span class="title">' + markerData.c_year + '</span>' +
							'        </li>' +
							'        <li>' +
							'            <span class="number">등록날짜</span>' +
							'            <span class="title">' + markerData.registered_at + '</span>' +
							'        </li>' +
							'        <li>' +
							'            <span class="number">최대 대여가능시간</span>' +
							'            <span class="title">' + markerData.rent_time + '</span>' +
							'        </li>' +
							'    </ul>' +
							'</div>' +
							'<button "id="wishlist'+markerData.car_id+'" onclick="wishlist('+user_id+','+markerData.car_id+')" class="wishlist-btn">'+
							'<span >'+wish+'</span>'
							+'</button>');

					overlay.setMap(map);


				}

			})(markerData));

//오버레이 닫는 style
		kakao.maps.event.addListener(map, 'click', function() {

		document.getElementById('overlaybox').style.display =  'none';

		});

			function createOverlay(markerData) {
				var overlay;
				var content = '<div class="overlaybox" id="overlaybox">' +
						'    <div class="boxtitle">차 대여 정보입니다</div>' +
						'<button "id="wishlist'+markerData.car_id+'" onclick="wishlist('+user_id+','+markerData.car_id+')" class="wishlist-btn" style="width:100%; height:100px; position:absolute; top:50px">'+
						'<span >'+wish+'</span>'
						+'</button>'+
						'    <div class="image-wrapper">' +
						'        <div class="image">' +
						'            ' + carImage +
						'    <div class="first">' +
						'        <a class="triangle text" href="./" style="color: crimson; position: absolute; background-color: #2b2d36; border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none">대여하기</a>' +
						'        <a class="triangle text" href="/rooms/register?car_id=' + markerData.car_id + ' style="color: crimson;position: absolute; right:0; background-color: #2b2d36;  border-radius: 4px; text-align: center; vertical-align: top; width: 130px; height: 30px; padding: 5px; text-decoration: none' +
						'" >' +
						'1:1채팅으로</a>' +
						'        <div class="movietitle text">' + markerData.car_model + '</div>' +
						'    </div>' +
						'    <ul>' +
						'        <li class="up">' +
						'            <span class="number">차 엔진 타입 </span>' +
						'            <span class="title">' + markerData.engine_type + '</span>' +
						'        </li>' +
						'        <li>' +
						'            <span class="number">차의 대여 가격</span>' +
						'            <span class="title">' + markerData.rent_price + '</span>' +
						'        </li>' +
						'        <li>' +
						'            <span class="number">차의 년식</span>' +
						'            <span class="title">' + markerData.c_year + '</span>' +
						'        </li>' +
						'        <li>' +
						'            <span class="number">등록날짜</span>' +
						'            <span class="title">' + markerData.registered_at + '</span>' +
						'        </li>' +
						'        <li>' +
						'            <span class="number">최대 대여가능시간</span>' +
						'            <span class="title">' + markerData.rent_time + '</span>' +
						'        </li>' +
						'    </ul>' +
						'</div> ';
				overlay = new kakao.maps.CustomOverlay({
					content: content,
					map: null,
					position: marker.getPosition()
				});

				return overlay;
			}



}

		// 원
		for (var i = 0; i < markerListString.length; i++) {
			var cicleData = markerListString[i];
			var circle = new kakao.maps.Circle({
				center: new kakao.maps.LatLng(parseFloat(cicleData.clatitude), parseFloat(cicleData.clongitude)),
				radius: 150,
				strokeWeight: 5,
				strokeColor: '#75B8FA',
				strokeOpacity: 1,
				strokeStyle: 'dashed',
				fillColor: '#CFE7FF',
				fillOpacity: 0.7
			});

			// 클로저를 이용하여 각 원에 대한 클릭 이벤트 추가
			(function (circle) {
				// 원에 마우스오버 이벤트가 발생했을 때 변경할 채우기 옵션입니다
				var mouseoverOption = {
					fillColor: '#EFFFED',
					fillOpacity: 0.8
				};
				// 원에 마우스아웃 이벤트가 발생했을 때 변경할 채우기 옵션입니다
				var mouseoutOption = {
					fillColor: '#A2FF99',
					fillOpacity: 0.7
				};

				// 원의 마우스오버 이벤트를 등록합니다
				kakao.maps.event.addListener(circle, 'mouseover', function () {
					// 원의 채우기 옵션을 변경합니다
					this.setOptions(mouseoverOption);
				});

				kakao.maps.event.addListener(circle, 'mouseout', function () {
					// 원의 채우기 옵션을 변경합니다
					this.setOptions(mouseoutOption);
				});

				// 원에 클릭 이벤트를 등록합니다
				kakao.maps.event.addListener(circle, 'click', function () {
					let resultDiv = document.getElementById('result');
					alert('허브존에 반납하시면 요금할인이 있습니다.')
				});
			})(circle);

			circle.setMap(map);


// 지도 확대, 축소 컨트롤에서 확대 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
			function zoomIn() {
				map.setLevel(map.getLevel() - 1);
			}

// 지도 확대, 축소 컨트롤에서 축소 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
			function zoomOut() {
				map.setLevel(map.getLevel() + 1);
			}

			function roadmap() {
				map.setMapTypeId(kakao.maps.MapTypeId.ROADMAP);
			}

			function skyview() {
				map.setMapTypeId(kakao.maps.MapTypeId.HYBRID);
			}
			document.getElementById('roadview').addEventListener('click', roadmap)
			document.getElementById('skyview').addEventListener('click', skyview)


			//검색기능
			function searchPlace() {
				var place = document.getElementById('searchBox').value;

				// 장소 검색 객체를 생성합니다
				var places = new kakao.maps.services.Places();

				// 지역 검색을 요청합니다
				places.keywordSearch(place, function(result, status) {

					// 정상적으로 검색이 완료됐으면
					if (status === kakao.maps.services.Status.OK) {

						var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

						// 마커를 생성합니다
						var marker = new kakao.maps.Marker({
							map: map,
							position: coords
						});

						// 검색된 위치로 지도 중심을 이동시킵니다
						map.setCenter(coords);
						map.setLevel(3);
					}
				});
			}

			// 검색 버튼 클릭 시 searchPlace 함수 호출
			document.getElementById('searchButton').addEventListener('click', searchPlace)

			function moveToCurrentPosition() {
				if (navigator.geolocation) {
					// 사용자의 현재 위치를 요청합니다.
					navigator.geolocation.getCurrentPosition(function(position) {
						// 현재 위치의 위도와 경도를 저장합니다.
						var lat = position.coords.latitude;
						var lng = position.coords.longitude;

						// 현재 위치로 지도를 이동합니다.
						var moveLatLon = new kakao.maps.LatLng(lat, lng);
						map.panTo(moveLatLon);
						alert("현재 접속중인 위치를 기반으로 안내해드리겠습니다")
					});
				} else {
					alert("현재위치를 찾을수 없습니다 ㅠㅠ");
				}
				// 버튼 클릭 시 moveToCurrentPosition 함수를 호출합니다.

			}
			document.getElementById('myarea').addEventListener('click', moveToCurrentPosition);





	}
</script>
	<script>
	window.addEventListener("scroll", function() {
		if (window.scrollY > 80) {
			headerNavItems[0].style.display = "none";
			headerNavItems[1].style.display = "none";
			headerNavItems[2].style.display = "none";
			headerNavItems[3].style.display = "none";

		} else if(window.scrollY < 80) {
			headerNavItems[0].style.display = "block";
			headerNavItems[1].style.display = "block";
			headerNavItems[2].style.display = "block";
			headerNavItems[3].style.display = "block";

		}

	});
</script>
	<script>
	let RentB=[[${rentB}]]
	if(RentB>0){
		alert('현재 회원님을 차를 대여중입니다. 추가 대여는 불가능합니다.')
		document.getElementById('returncar').style.display ='block';
		  for (var i = 0; i < markers.length; i++) {
				clusterer.removeMarker(markers[i]); // 클러스터러에서 해당 마커를 제거합니다
			}
			if (overlay) {
				overlay.setMap(null); // 오버레이가 존재하면 지도에서 제거합니다
			}
	}else{
		document.getElementById('returncar').style.display ='none'
	}
function wishlist(user_id, car_number) {
	  var button_id = "#wishlist" + car_number;
	  var isWished = $(button_id).hasClass("btn-secondary");
	  $.ajax({
	    type: "POST",
	    url: "/product/wishlist",
	    contentType: 'application/json',
	    data: JSON.stringify({car_number: car_number, user_id: user_id}),
	    success: function (response) {
	      if (response === "success") {
	        // 찜 완료 메시지 출력
	        alert("찜 완료!");
	        // 버튼 스타일 변경
	        $(button_id).removeClass("btn-primary").addClass("btn-secondary");
	        // 버튼 텍스트 변경
	        $(button_id).text("찜 완료");
	     // 현재 페이지를 새로고침합니다.
	        location.reload();

	      } else if (response === "fail") {
	        // 이미 찜한 경우, 삭제 여부 확인
	        if (confirm("이미 찜한 상품입니다. 삭제하시겠습니까?")) {
	          // 찜 삭제 ajax 요청
	          $.ajax({
	            type: "DELETE",
	            url: "/product/wishlist/delete",
	            contentType: 'application/json',
	            data: JSON.stringify({car_number: car_number, user_id: user_id}),
	            success: function (response) {
	              // 찜 삭제 완료 메시지 출력
	              alert("찜 삭제 완료!");
	              // 버튼 스타일 변경
	              $(button_id).removeClass("btn-secondary").addClass("btn-primary");
	              // 버튼 텍스트 변경
	              $(button_id).text("찜하기");
	              location.reload();
	            },
	            error: function (xhr, status, error) {
	              // 에러 메시지 출력
	              alert("찜 삭제 실패: " + error);
	            }
	          });
	        }
	      }
	    },
	    error: function (xhr, status, error) {
	      alert("찜 실패")
	    }
	  });
	}
</script>

</body>
</html>