<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

	.sreg_button {
		font-size: 20px;
	    border-radius: 10px;
	    border-color: black;
	    color: white;
	    background-color: black;
	    margin-top: 35px;
	}

</style>
</head>
<div th:include="header.html"></div>
<body>
	<div style="width: 500px; height: 500px; margin: 0 auto; text-align: center;">
		<form action="/rooms/register" method="post">
			<div style="margin-top: 150px;">
				<h1 style="font-size: 50px;">방 이름</h1> 
			<div >
				<input type="text" name="room_name" placeholder="방 이름 입력" style="font-size: 22px;">
			</div>
				<input type="hidden" name="registrNum" th:value="${registrNum}">
				<input type="hidden" name="email" th:value="${session.vo.email}">
			<div>
				<button class="sreg_button">만들기</button>
			</div>
		</div>
		</form>
	</div>
	<div th:include="footer.html"></div>
</body>
</html>